.container {
  width: 100%;
  height: 100%;

  max-width: 600px;
  margin: 0 auto;
  padding: 32px 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separator {
  width: 1px;
  height: 5.0rem;
  background-color: #909090;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;

  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.items {
  width: 100%;
  margin: 32px 0 24px 0;
}

.item {
  width: 100%;
  margin: 24px 0;
}

.recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.recipe > h2 {
  margin: 8px 0;
  grid-column: 1 / span 2;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  text-align: center;
}

.picture {
  grid-column: 1;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.picture::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;

  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 12px);
  height: 24px;

  background: url('/magnify.svg') no-repeat;
  opacity: 0.85;
}

.recipe > p {
  grid-column: 2;
  margin: 8px 0;
  padding: 0 0 0 16px;
}

.portions {
  display: flex;
  flex-direction: row;
}

.portion {
  flex: 1;
  padding: 0 0 0 16px;
}

.portion  h3 {
  margin: 4px 0;
  font-size: 1.0rem;
}

.portion  p {
  margin: 4px 0;
}

.price {
  padding: 0 32px;
  font-size: 1.25rem;
  font-weight: 800;
  color: #BF4040;
}

.service {
  max-width: 350px;
  margin: 16px auto 0 auto;
  text-align: center;
}

.service h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;

  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.service .action {
  margin: 32px auto;
  display: flex;
}

.action {
  display: flex;
  align-items: center;

  width: fit-content;
  margin: 8px auto;
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 0.90rem;
  font-weight: 700;
  letter-spacing: 0.10rem;
  text-transform: uppercase;

  background-color: #BF4040;
  color: #FFFFFF;
}

.action img {
  margin-right: 8px;
}
